services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: chitchat_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      retries: 5

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      JWT_SECRET: YiffxPdfG2SN+LvyYp9u1KnrBe7ICVeOfITPZwAhi4Q=
      DB_USERNAME: postgres
      DB_PASSWORD: 1234
      DB_URL: jdbc:postgresql://postgres:5432/chitchat_db
      FRONTEND_URL_1: http://localhost:5173
      FRONTEND_URL_2: http://localhost:80
      TEST_URL: http://localhost:8080
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  postgres_data: